<section class="fullcontainer">
    <div class="steps">
        <div class="step">
            <figcaption>
                <h2>Step 1</h2>
                <img src="assets/step1.svg" alt="" class="step4">
                <p>Copy the URL of the Youtube video <br> you want to download</p>
            </figcaption>
        </div>

        <div class="step">
            <figcaption>
                <h2>Step 2</h2>
                <img src="assets/step2.svg" alt="" class="step4">
                <p>Open Ghost and paste the URL <br>into the search field</p>
            </figcaption>
        </div>

        <div class="step">
            <figcaption>
                <h2>Step 3</h2>
                <img src="assets/step3.svg" alt="" class="step4">
                <p>Select the audio or video format <br> you want to dowload</p>
            </figcaption>
        </div>

        <div class="step">
            <figcaption>
                <h2>Step 4</h2>
                <img src="assets/step4.svg" alt="" class="step4">
                <p>Click the dowload icon to dowload  <br>the selected format</p>
            </figcaption>
        </div>

    </div>
</section>